#propose{
font-size:30px;
color:#294552;
padding-left:10%;
font-family:Corbel;
font-style:italic;
}
#thanx{
color:#294552;
#text-decoration:underline;
font-family:Corbel;
font-size:40px;
font-weight:bold;
padding-left:17%;
padding-right:15%;
padding-top:2%;
}
#form{
color:#294552;
font-family:Corbel;
font-size:25px;
padding-left:6%;
padding-right:6%;
}
#cent{
padding-left:30%;
}
fieldset{
margin-right:0%;
}
#php{
margin-top:10%;
margin-left:32%;
margin-bottom:20%;
color:#294552;
font-family:Corbel;
font-size:35px;
}
.containerk{ 
max-width: 70%; 
min-width: 50%;  
margin-left:15%;
margin-right:15%;
background:#e4e4e4;
font-family:Corbel;
height:100%;
}