.source{
margin-left:10.5%;
margin-top:-0.2%;
font-size:24px;
color:grey;
font-style:italic;
}
a{
color:#3d494f;
font-family:Corbel;
font-size:30px;
}
li{
display:block;
margin-left:10%;
}
p{
font-family:Corbel;
font-size:36px;

text-align:center;
font-weight:bolder;
}
.imagee{

margin-top:5%;
}
