fieldset{
width:50%;
margin-top:5%;
margin-left:23%;
margin-bottom:20%;
}
#form{
color:#294552;
font-family:Corbel;
font-size:25px;
}
#inp{
margin-left:30%;
font-family:Corbel;
font-size:25px;
}
#t{margin-left:3.8%;}
#fo{margin-left:4.5%;}
#s{margin-left:5%;}

#f{margin-left:4%;}
.titt{
font-family:Corbel;
font-size:35px;
color:#294552;
font-weight:bold;
padding:4%;
}
.button{
margin-left:45%;padding:1%; font-size:20px; font-family:Corbel;}
.imagee{
width:15%;
height:10%;
margin-top:2%;
padding-left:1.5%;
}
.image13{
width:25%;

padding-left:1.5%;
}
#im{
margin-left:22%;

}